<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <shippingaccount>
                <active>1</active>
                <model>Dcw\ShippingAccount\Model\Carrier\Shippingaccount</model>
                <title>Use my own FedEx account / UPS account</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </shippingaccount>  
        </carriers>
    </default>
</config>