<?xml version="1.0"?><!--
  ~ Copyright (c) 2021. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cart2Quote_Quotation" setup_version="4.1.0">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Bundle"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_CatalogRuleConfigurable"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_CatalogWidget"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Directory"/>
            <module name="Magento_Downloadable"/>
            <module name="Magento_Eav"/>
            <module name="Magento_GroupedProduct"/>
            <module name="Magento_Inventory"/>
            <module name="Magento_Msrp"/>
            <module name="Magento_OfflineShipping"/>
            <module name="Magento_Sales"/>
            <module name="Magento_SalesSequence"/>
            <module name="Magento_Shipping"/>
            <module name="Magento_Store"/>
            <module name="Magento_Tax"/>
            <module name="Magento_Weee"/>
            <module name="Magento_CmsSampleData" />
        </sequence>
    </module>
</config>
