<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Cminds Creditline.
 *
 * @category Cminds
 * @package  Cminds_Creditline
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Cminds_Creditline::creditline" title="Credit Line" sortOrder="100">
                        <resource id="Cminds_Creditline::creditline_balance" title="Customers" sortOrder="10"/>
                        <resource id="Cminds_Creditline::creditline_transaction" title="Transactions"
                                  sortOrder="20"/>
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Cminds_Creditline::creditline_config" title="Cminds Credit Line"
                                      sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
