<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="add_description_to_method" type="Dcw\Shippingdescription\Plugin\Carrier\Description" disabled="false" sortOrder="30"/>
        <plugin name="add_shortdescription_to_method" type="Dcw\Shippingdescription\Plugin\Carrier\Shortdescription" disabled="false" sortOrder="30"/>
    </type>

	<type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_description_to_method_rate" type="Dcw\Shippingdescription\Plugin\Quote\Address\Rate" disabled="false" sortOrder="3"/>
        <plugin name="add_shortdescription_to_method_rate" type="Dcw\Shippingdescription\Plugin\Quote\Address\Rate" disabled="false" sortOrder="3"/>
    </type>
    <preference for="Magento\Quote\Model\Cart\ShippingMethod" type="Dcw\Shippingdescription\Model\Quote\Cart\ShippingMethod" />
</config>